.card {
  width: auto;
  padding: 2rem 0 !important;
}

.PageHeader {
  :global {
    .ant-page-header-heading
      > .ant-page-header-heading-left
      > .ant-page-header-heading-title {
      font-size: 2rem !important;
    }
  }
}
