/* This one is messy, but let's not worry too much about CSS for now */

.card-parent {
  margin-bottom: 1rem;

  :global {
    .ant-card {
      border: none !important;
      background: none !important;
    }
  }
}

.card {
  :global {
    .ant-card-body {
      padding: 1rem !important;
      background: #ffffff !important;
      border-radius: 15px;

      box-shadow: 0 0 5px 0 #00000022;
    }
    .ant-comment-inner {
      padding: 0 !important;
    }
    .ant-comment-nested {
      margin-top: 1rem !important;
      margin-left: 0 !important;
      margin-bottom: 0 !important;
      .ant-comment-inner {
        padding: 0 !important;
      }
    }
  }
}

.comment-content {
  font-size: 16px;
}

.answer {
  margin-bottom: 0.5rem !important;
}

.rating-count {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 16px;
  cursor: text;
}

.comment-basic-like,
.comment-basic-dislike,
.comment-basic-reply-to,
.comment-basic-delete,
.comment-basic-edit {
  font-size: 16px !important;
}

.comment-basic-disabled {
  cursor: not-allowed !important;
}

.comment-basic-disabled span {
  pointer-events: none;
}
